# Dependency directories
node_modules

.idea

baseGr

# Archivos de ayuda para documentación
dependenciasDesarrollo.txt
dependenciasProyecto.txt
*.TODO

### Sass ###
.sass-cache/
*.css.map

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Folder config file
Desktop.ini
