
.infoImages{
  // background-color: rgb(122, 116, 116);
  height: 33rem;
  margin: 0 0.2rem;
  display: grid;
  grid-template-rows: 25% 75%;

  &-text{
    // background-color: yellowgreen;
    // color:yellowgreen;
    grid-row: 1;

    &__resalte{
      // background-color: rgb(53, 82, 245);
      .titleResalte{
        color:lighten($color: red, $amount: 20%);
        // background-color: orangered;
        margin-bottom: -4rem;
        margin-top: 2.5rem;
        font-size: $xl;
        opacity: 0.1;
      }
    }
    &__review{
      // background-color: red;
      padding: 1rem;
      text-align: justify;
      // margin-bottom: 2rem;
    }
  }
  &-graphics{
    // background-color: rgb(132, 192, 120);
    margin: 0 1rem;
    // height: 100%;
    // width: 100%;
    grid-row: 2;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    &__title{
      background-color: $azulOxford;
      padding-top: 0.6rem;
      border-radius: 0 1rem 0 0;
      .titleGraphics{
        color: $clTextoGen;
        margin-left: 0.5rem;
        margin-top: -1.7rem;
        font-size: 36px;

      }
    }
    &__image{
      // height: 18rem;
      // width: 100%;
      background-color: rgb(206, 209, 9);
    }
    &__description{
      // height:15rem;
      // width: 100%;
      background-color: $azulOxford;
      border-radius: 0 0 1.5rem 1.5rem;
      .descripGraphics{
        color: $clTextoGen;
        text-align: center;
        padding: .5rem;
      }
    }
  }
}
