.main__make_services{
    // background-color:purple;
    // position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
    min-height:50vh;
    background:linear-gradient($secundario, $secundario 50%, #fff 50%, #fff 100%);
    &--container{
        // background:orange;
        margin: 0 2rem;
        // position:absolute;
        // position: relative;
        height: 100%;
        // width:100vw;
        // display:flex;
        // justify-content:flex-start;
        // flex-wrap:wrap;
        &-box{
            background:$baseredes;
            // background-color: purple;
            position:relative;
            @include centerFlex;
            flex-wrap: wrap;
            width:100%;
            height: 400px;
            padding:3rem 1.5rem;
            box-shadow:0px 15px 45px rgba(28, 7, 85, 0.2);
            margin:1rem auto;
            &:before{
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:$txtResalte;
                transform:scaleY(0);
                transform-origin:top;
                transition: transform .5s;
                // // transition-delay:.3s;
            }
            &:hover:before{
                transform:scaleY(1);
                transform-origin:bottom;
                transition: transform .5s;


            }
            .icon{
                position:absolute;
                top: 60px;
                left:40px;
                font-size:5rem;
                font-weight:800;
                color:$secundario;
                z-index:1;
                opacity:0.2;
                transition:.5s;
            }
            &:hover .icon{
                // font-size:5rem;
                opacity:1;
                color:$secundario;
                transform:translateY(-40px);
            }
            h4{
              text-align:center;
              position:relative;
              font-size:1.5rem;
              z-index:2;
              color:$primario;
              margin: 0 0 -1rem 0;
              transition:.5s;
              // transition-delay:.3s;
            }
            p{
              // background-color: aqua;
              text-align:justify;
              position:relative;
              z-index:2;
              color:$primario;
              margin:0 -1rem 1rem -1rem;
              transition:.5s;
              // transition-delay:.3s;
            }
            &:hover h4, &:hover p{
                color:$baseredes;
                transform:translateY(20px);
                // transition: transform .5s;
                // transition-delay:.3s;
            }
            .callBtn{
                // background:orange;
                position:absolute;
                bottom:15px;
                right:35px;
                display:flex;
                justify-content:center;
                align-items:center;
                transition: transform .5s;
                a{
                    border:1px solid $txtResalte;
                    padding:.5rem;
                    color:$txtResalte;
                    transform:scale(1);
                    transition: transform .5s;
                }
            }
            &:hover .callBtn a{
                border:1px solid $secundario;
                color:$secundario;
                transform:scale(1.3);
                transition: transform .5s;
            }
        }
    }
}
// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){

}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){
  .main__make_services{
    // // background-color:purple;
    // // position: relative;
    // display:flex;
    // justify-content:center;
    // align-items:center;
    // flex-wrap: wrap;
    // height: 100%;
    // width: 100vw;
    // min-height:50vh;
    // background:linear-gradient($secundario, $secundario 50%, #fff 50%, #fff 100%);
    &--container{
        // background:orange;
        // margin: 0 2rem;
        // position:absolute;
        // position: relative;
        // height: 100%;
        // width:100vw;
        // display:flex;
        // justify-content:flex-start;
        // flex-wrap:wrap;
        &-box{
            // background:$baseredes;
            // background-color: palevioletred;
            // position:relative;
            // @include centerFlex;
            // flex-wrap: wrap;
            width:80%;
            // height: 400px;
            // padding:3rem 1.5rem;
            // box-shadow:0px 15px 45px rgba(28, 7, 85, 0.2);
            // margin:1rem auto;
            &:before{
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:$txtResalte;
                transform:scaleY(0);
                transform-origin:top;
                transition: transform .5s;
                // // transition-delay:.3s;
            }
            &:hover:before{
                transform:scaleY(1);
                transform-origin:bottom;
                transition: transform .5s;


            }
            .icon{
                position:absolute;
                top: 60px;
                left:40px;
                font-size:5rem;
                font-weight:800;
                color:$secundario;
                z-index:1;
                opacity:0.2;
                transition:.5s;
            }
            &:hover .icon{
                // font-size:5rem;
                opacity:1;
                color:$secundario;
                transform:translateY(-40px);
            }
            h4{
              text-align:center;
              position:relative;
              font-size:1.5rem;
              z-index:2;
              color:$primario;
              margin: 0 0 -1rem 0;
              transition:.5s;
              // transition-delay:.3s;
            }
            p{
              // background-color: aqua;
              text-align:justify;
              position:relative;
              z-index:2;
              color:$primario;
              margin:0 -1rem 1rem -1rem;
              transition:.5s;
              // transition-delay:.3s;
            }
            &:hover h4, &:hover p{
                color:$baseredes;
                transform:translateY(20px);
                // transition: transform .5s;
                // transition-delay:.3s;
            }
            .callBtn{
                // background:orange;
                position:absolute;
                bottom:15px;
                right:35px;
                display:flex;
                justify-content:center;
                align-items:center;
                transition: transform .5s;
                a{
                    border:1px solid $txtResalte;
                    padding:.5rem;
                    color:$txtResalte;
                    transform:scale(1);
                    transition: transform .5s;
                }
            }
            &:hover .callBtn a{
                border:1px solid $secundario;
                color:$secundario;
                transform:scale(1.3);
                transition: transform .5s;
            }
        }
    }
}
}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){
  .main__make_services{
    // // background-color:purple;
    // // position: relative;
    // display:flex;
    // justify-content:center;
    // align-items:center;
    // flex-wrap: wrap;
    // height: 100%;
    // width: 100vw;
    // min-height:50vh;
    // background:linear-gradient($secundario, $secundario 50%, #fff 50%, #fff 100%);
    &--container{
        // background:orange;
        // margin: 0 2rem;
        // position:absolute;
        // position: relative;
        // height: 100%;
        // width:100vw;
        // display:flex;
        // justify-content:flex-start;
        // flex-wrap:wrap;
        &-box{
            // background:$baseredes;
            // background-color: palevioletred;
            // position:relative;
            // @include centerFlex;
            // flex-wrap: wrap;
            width:50%;
            // width: 300px;
            // height: 400px;
            // padding:3rem 1.5rem;
            // box-shadow:0px 15px 45px rgba(28, 7, 85, 0.2);
            // margin:1rem auto;
            &:before{
                // content:'';
                // position:absolute;
                // top:0;
                // left:0;
                // width:100%;
                // height:100%;
                // background:$txtResalte;
                // transform:scaleY(0);
                // transform-origin:top;
                // transition: transform .5s;
                // // transition-delay:.3s;
            }
            &:hover:before{
                // transform:scaleY(1);
                // transform-origin:bottom;
                // transition: transform .5s;


            }
            .icon{
                // position:absolute;
                // top: 60px;
                // left:40px;
                // font-size:5rem;
                // font-weight:800;
                // color:$secundario;
                // z-index:1;
                // opacity:0.2;
                // transition:.5s;
            }
            &:hover .icon{
                // // font-size:5rem;
                // opacity:1;
                // color:$secundario;
                // transform:translateY(-40px);
            }
            h4{
              // text-align:center;
              // position:relative;
              // font-size:1.5rem;
              // z-index:2;
              // color:$primario;
              // margin: 0 0 -1rem 0;
              // transition:.5s;
              // // transition-delay:.3s;
            }
            p{
              // background-color: aqua;
              // text-align:justify;
              // position:relative;
              // z-index:2;
              // color:$primario;
              // margin:0 -1rem 1rem -1rem;
              // transition:.5s;
              // // transition-delay:.3s;
            }
            &:hover h4, &:hover p{
                // color:$baseredes;
                // transform:translateY(20px);
                // // transition: transform .5s;
                // // transition-delay:.3s;
            }
            .callBtn{
                // background:orange;
                // position:absolute;
                // bottom:15px;
                // right:35px;
                // display:flex;
                // justify-content:center;
                // align-items:center;
                // transition: transform .5s;
                a{
                    // border:1px solid $txtResalte;
                    // padding:.5rem;
                    // color:$txtResalte;
                    // transform:scale(1);
                    // transition: transform .5s;
                }
            }
            &:hover .callBtn a{
                // border:1px solid $secundario;
                // color:$secundario;
                // transform:scale(1.3);
                // transition: transform .5s;
            }
        }
    }
}
}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){
  .main__make_services{
    // // background-color:purple;
    // // position: relative;
    // display:flex;
    // justify-content:center;
    // align-items:center;
    // flex-wrap: wrap;
    // height: 100%;
    // width: 100vw;
    // min-height:50vh;
    // background:linear-gradient($secundario, $secundario 50%, #fff 50%, #fff 100%);
    &--container{
        // background:orange;
        margin: 1rem;
        // position:absolute;
        // position: relative;
        // height: 100%;
        // width:100vw;
        // display:flex;
        // justify-content:flex-start;
        // flex-wrap:wrap;
        &-box{
            // background:$baseredes;
            // background-color: palevioletred;
            // position:relative;
            // @include centerFlex;
            // flex-wrap: wrap;
            // width:30%;
            width: 250px;
            // height: 400px;
            // padding:3rem 1.5rem;
            // box-shadow:0px 15px 45px rgba(28, 7, 85, 0.2);
            // margin:1rem auto;
            &:before{
                // content:'';
                // position:absolute;
                // top:0;
                // left:0;
                // width:100%;
                // height:100%;
                // background:$txtResalte;
                // transform:scaleY(0);
                // transform-origin:top;
                // transition: transform .5s;
                // // transition-delay:.3s;
            }
            &:hover:before{
                // transform:scaleY(1);
                // transform-origin:bottom;
                // transition: transform .5s;


            }
            .icon{
                // position:absolute;
                // top: 60px;
                // left:40px;
                // font-size:5rem;
                // font-weight:800;
                // color:$secundario;
                // z-index:1;
                // opacity:0.2;
                // transition:.5s;
            }
            &:hover .icon{
                // // font-size:5rem;
                // opacity:1;
                // color:$secundario;
                // transform:translateY(-40px);
            }
            h4{
              // text-align:center;
              // position:relative;
              // font-size:1.5rem;
              // z-index:2;
              // color:$primario;
              // margin: 0 0 -1rem 0;
              // transition:.5s;
              // // transition-delay:.3s;
            }
            p{
              // background-color: aqua;
              // text-align:justify;
              // position:relative;
              // z-index:2;
              // color:$primario;
              // margin:0 -1rem 1rem -1rem;
              // transition:.5s;
              // // transition-delay:.3s;
            }
            &:hover h4, &:hover p{
                // color:$baseredes;
                // transform:translateY(20px);
                // // transition: transform .5s;
                // // transition-delay:.3s;
            }
            .callBtn{
                // background:orange;
                // position:absolute;
                // bottom:15px;
                // right:35px;
                // display:flex;
                // justify-content:center;
                // align-items:center;
                // transition: transform .5s;
                a{
                    // border:1px solid $txtResalte;
                    // padding:.5rem;
                    // color:$txtResalte;
                    // transform:scale(1);
                    // transition: transform .5s;
                }
            }
            &:hover .callBtn a{
                // border:1px solid $secundario;
                // color:$secundario;
                // transform:scale(1.3);
                // transition: transform .5s;
            }
        }
    }
}
}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){

}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){
//   .main__make_services{
//     // background:purple;
//     display:flex;
//     justify-content:center;
//     align-items:center;
//     min-height:50vh;
//     background:linear-gradient($secundario, $secundario 50%, #fff 50%, #fff 100%);
//     &--container{
//         // background:orange;
//         // position:relative;
//         width:100vw;
//         display:flex;
//         justify-content:flex-start;
//         flex-wrap:wrap;
//         &-box{
//             background:#fff;
//             position:relative;
//             width:320px;
//             height: 400px;
//             padding:100px 40px 60px;
//             box-shadow:0px 15px 45px rgba(28, 7, 85, 0.2);
//             margin:1rem auto;
//             &:before{
//                 content:'';
//                 position:absolute;
//                 top:0;
//                 left:0;
//                 width:100%;
//                 height:100%;
//                 background:$txtResalte;
//                 transform:scaleY(0);
//                 transform-origin:top;
//                 transition: transform .5s;
//                 // transition-delay:.3s;
//             }
//             &:hover:before{
//                 transform:scaleY(1);
//                 transform-origin:bottom;
//                 transition: transform .5s;


//             }
//             .icon{
//                 position:absolute;
//                 top: 60px;
//                 left:40px;
//                 font-size:5rem;
//                 font-weight:800;
//                 color:$secundario;
//                 z-index:1;
//                 opacity:0.2;
//                 transition:.5s;
//             }
//             &:hover .icon{
//                 // font-size:5rem;
//                 opacity:1;
//                 color:$secundario;
//                 transform:translateY(-40px);
//             }
//             h4{
//                 text-align:center;
//                 position:relative;
//                 font-size:1.5rem;
//                 z-index:2;
//                 color:$primario;
//                 transition:.5s;
//                 // transition-delay:.3s;
//             }
//             p{
//                 text-align:justify;
//                 position:relative;
//                 z-index:2;
//                 color:$primario;
//                 margin:1rem -1rem;
//                 transition:.5s;
//                 // transition-delay:.3s;
//             }
//             &:hover h4, &:hover p{
//                 color:$baseredes;
//                 transform:translateY(20px);
//                 // transition: transform .5s;
//                 // transition-delay:.3s;
//             }
//             .callBtn{
//                 // background:orange;
//                 position:absolute;
//                 bottom:15px;
//                 right:35px;
//                 display:flex;
//                 justify-content:center;
//                 align-items:center;
//                 transition: transform .5s;
//                 a{
//                     border:1px solid $txtResalte;
//                     padding:.5rem;
//                     color:$txtResalte;
//                     transform:scale(1);
//                     transition: transform .5s;
//                 }
//             }
//             &:hover .callBtn a{
//                 border:1px solid $secundario;
//                 color:$secundario;
//                 transform:scale(1.3);
//                 transition: transform .5s;
//             }
//         }
//     }
// }
  .main__make_services{
    // // background-color:purple;
    // // position: relative;
    // display:flex;
    // justify-content:center;
    // align-items:center;
    // flex-wrap: wrap;
    // height: 100%;
    // width: 100vw;
    // min-height:50vh;
    // background:linear-gradient($secundario, $secundario 50%, #fff 50%, #fff 100%);
    &--container{
        // background:orange;
        margin: 1rem;
        // position:absolute;
        // position: relative;
        // height: 100%;
        // width:100vw;
        // display:flex;
        // justify-content:flex-start;
        // flex-wrap:wrap;
        &-box{
            // background:$baseredes;
            // background-color: palevioletred;
            // position:relative;
            // @include centerFlex;
            // flex-wrap: wrap;
            // width:30%;
            width: 300px;
            // height: 400px;
            // padding:3rem 1.5rem;
            // box-shadow:0px 15px 45px rgba(28, 7, 85, 0.2);
            // margin:1rem auto;
            &:before{
                // content:'';
                // position:absolute;
                // top:0;
                // left:0;
                // width:100%;
                // height:100%;
                // background:$txtResalte;
                // transform:scaleY(0);
                // transform-origin:top;
                // transition: transform .5s;
                // // transition-delay:.3s;
            }
            &:hover:before{
                // transform:scaleY(1);
                // transform-origin:bottom;
                // transition: transform .5s;


            }
            .icon{
                // position:absolute;
                // top: 60px;
                // left:40px;
                // font-size:5rem;
                // font-weight:800;
                // color:$secundario;
                // z-index:1;
                // opacity:0.2;
                // transition:.5s;
            }
            &:hover .icon{
                // // font-size:5rem;
                // opacity:1;
                // color:$secundario;
                // transform:translateY(-40px);
            }
            h4{
              // text-align:center;
              // position:relative;
              // font-size:1.5rem;
              // z-index:2;
              // color:$primario;
              // margin: 0 0 -1rem 0;
              // transition:.5s;
              // // transition-delay:.3s;
            }
            p{
              // background-color: aqua;
              // text-align:justify;
              // position:relative;
              // z-index:2;
              // color:$primario;
              // margin:0 -1rem 1rem -1rem;
              // transition:.5s;
              // // transition-delay:.3s;
            }
            &:hover h4, &:hover p{
                // color:$baseredes;
                // transform:translateY(20px);
                // // transition: transform .5s;
                // // transition-delay:.3s;
            }
            .callBtn{
                // background:orange;
                // position:absolute;
                // bottom:15px;
                // right:35px;
                // display:flex;
                // justify-content:center;
                // align-items:center;
                // transition: transform .5s;
                a{
                    // border:1px solid $txtResalte;
                    // padding:.5rem;
                    // color:$txtResalte;
                    // transform:scale(1);
                    // transition: transform .5s;
                }
            }
            &:hover .callBtn a{
                // border:1px solid $secundario;
                // color:$secundario;
                // transform:scale(1.3);
                // transition: transform .5s;
            }
        }
    }
}
}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){

}

