.main__partners_card{
  // background-color: aqua;
  // width: 100vw;
  // height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel{
  // background:red;
  width:100%;
  // height: 100%;
  .items{
    display: flex;
    justify-content: center;
    height: 200px;
  }
  img{
    margin: 0 2rem;
  }

}



// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){

}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){

}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){

}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){

}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){

}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){
  .main__partners_card{
  // background-color: aqua;
  width: 100vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel{
  // background:red;
  width:100%;
  // height: 100%;
  .items{
    display: flex;
    justify-content: center;
    height: 200px;
  }
  img{
    // margin: 0 1rem;
  }

}
}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){

}

