$header-bg-op-0:  rgba(27, 26, 28, 0);
$header-bg-op-1: rgba(27, 26, 28, 1);
$header-bg-op-2: rgba(27, 26, 28, 0.9);
$header-color: $baseredes;
$header-height: 4rem;
$header-container-width: 1200px;

// $logo-url: imgPath('escudo.png');
$logo-url: "images/logo.png";
$logo-width: 4rem;
$logo-height: 4rem;
$logo-bg-size: 4rem;

// $header-area: '. logo hamburger'; // 'logo . hamburger' | '. logo hamburger' | 'hamburger . logo' | 'hamburger logo .'
$header-area: 'hamburger logo .';
// $logo-position: start; //start | center | end
$logo-position: center;
// $hamburger-position: end; //start | end
$hamburger-position: start;

$hamburger-color: $primario;
$hamburger-color2:$secundario;

@mixin panel-direction($dir) {
  @if $dir == left {
    transform: translateX(-110%);
    &.is-active { transform: translateX(0); }
  } @else if $dir == right {
    transform: translateX(100%);
    &.is-active { transform: translateX(0); }
  } @else if $dir == top {
    transform: translateY(-100%);
    &.is-active { transform: translateY(0); }
  } @else if $dir == bottom {
    transform: translateY(100%);
    &.is-active { transform: translateY(0); }
  }
}

.hamburger:focus {
  outline: 0;
  border: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before { background-color: $hamburger-color2; }

.u-afterFixed { padding-top: $header-height; }

.Header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: $header-height;
  transition: all .3s ease-out;
  background-color: $header-bg-op-0;
  transition: background-color .3s linear;

  &.is-active {
    background-color: $header-bg-op-1;
  }

  &-container {
    margin: auto;
    max-width: $header-container-width;
    display: grid;
    grid-template: {
      columns: repeat(3, 1fr);
      rows: $header-height, auto;
      areas: $header-area
             'panel panel panel';
    }
  }
}

.Logo {
  // background-color: red;
  opacity: 0;
  z-index: 10001;
  grid-area: logo;
  justify-self: $logo-position;
  @include centerFlex;
  transition: opacity .3s ease-in;
  &.is-active{
    opacity: 1;
  }

  &-link {
    display: block;
    width: $logo-width;
    height: $logo-height;
    text-indent: -9999px;
    background: {
      image: url($logo-url);
      size: $logo-bg-size;
      repeat: no-repeat;
      position: center;
    }
  }
}

.Panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  grid-area: panel;
  background-color: $header-bg-op-2;
  // background-color: violet;
  transition: transform .3s ease-out;
  @include panel-direction(left);

  &-button {
    z-index: 999;
    grid-area: hamburger;
    justify-self: $hamburger-position;
  }
}
.Menu {
  margin-top: calc(#{$header-height} + 2rem);

   &-listItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
  }

  &-link {
    display: block;
    padding: 1rem 1.5rem;
    font: {
      weight: $medium;
      size: 1.5rem;
    }
    color: $baseredes;
    text-decoration: none;
    transition: all .3s ease-out;
  }

  &-link:hover {
    color: $primario;
    text-transform: uppercase;
    transition: all .5s ease-out;
    background-color: $color;
  }
}

@media screen and (min-width: 64em) {
  .Header {
    background-color: $header-bg-op-2;
    &-container {
      grid-template: {
        columns: auto 1fr;
        rows: $header-height;
        areas: 'logo panel';
      }
    }
  }

  .Logo {
    // background-color: green;
    // justify-self: center;
    // display: flex;
    // justify-content: center;
    align-self: start;
    // align-items: center;
    // align-content: center;
  }

  .Panel {
    position: static;
    overflow-y: visible;
    transform: translate(0, 0);
    background-color: transparent;

    &-button { display: none; }
  }

  .Menu {
    margin-top: 0;

    &-listItem {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    &-link { border-top: medium solid transparent; }

    &-link:hover {
      border-top: medium solid $primario;
      background-color: transparent;
    }
  }
}
