//section: web
//======================
.service-icon.web{
    color: #E74A48;
}
.service-border.web{
  border-bottom: solid 0.3em #E74A48;
}

.web{
  strong{
    color: #E74A48;
  }
}

// section: apps
//======================
.service-icon.apps{
    color: #098793;
}
.service-border.apps{
  border-bottom: solid 0.3em #098793;
}

.apps{
  strong{
    color: #098793;
  }
}

// section: redes
//======================
.service-icon.redes{
    color: #3668B1;
}
.service-border.redes{
  border-bottom: solid 0.3em #3668B1;
}

.redes{
  strong{
    color: #3668B1;
  }
}

// section: seo
//======================
.service-icon.seo{
    color: #EB5B9C;
}
.service-border.seo{
  border-bottom: solid 0.3em #EB5B9C;
}

.seo{
  strong{
    color: #EB5B9C;
  }
}

// section: motion
//======================
.service-icon.motion{
    color: #6B56A0;
}
.service-border.motion{
  border-bottom: solid 0.3em #6B56A0;
}

.motion{
  strong{
    color: #6B56A0;
  }
}

// section: tienda
//======================
.service-icon.tienda{
    color: #AA146D;
}
.service-border.tienda{
  border-bottom: solid 0.3em #AA146D;
}

.tienda{
  strong{
    color: #AA146D;
  }
}

// section: animacion
//======================
.service-icon.animacion{
    color: #E62E28;
}
.service-border.animacion{
  border-bottom: solid 0.3em #E62E28;
}

.animacion{
  strong{
    color: #E62E28;
  }
}


// section: multimedia
//======================
.service-icon.multimedia{
    color: #00A099;
}
.service-border.multimedia{
  border-bottom: solid 0.3em #00A099;
}

.multimedia{
  strong{
    color: #00A099;
  }
}

// section: diseño
//======================
.service-icon.diseño{
    color: #F29100;
}
.service-border.diseño{
  border-bottom: solid 0.3em #F29100;
}

.diseño{
  strong{
    color: #F29100;
  }
}

// section: marketing
//======================
.service-icon.marketing{
    color: #6a36d9;
}
.service-border.marketing{
  border-bottom: solid 0.3em #6a36d9;
}

.marketing{
  strong{
    color: #6a36d9;
  }
}
