* {
  // box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

html, body {
  // width: 100%;
  // height: 100vh;
  // overflow: hidden;
  // background: #22222A;
  // font-family: 'Fira Mono', monospace;
  // -webkit-font-smoothing: antialiased;
  // font-size: 3rem;
  // color: #bdbdd5;
}
.content-width {
  // background-color: $color;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
}

.slideshow {
  // background-color: fuchsia;
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slideshow-items {
  // background-color: tomato;
  position: relative;
  width: 100%;
  height: 400px;
}

.item {
  // background-color: hotpink;
  position: absolute;
  height: 100%;
  width: 100%;
  // height: auto;
}

.item-image-container {
  position: relative;
  width: 95%;
}

.item-image-container::before {
  content: '';
  position: absolute;
  top: -10%;
  left: -10%;
  width: 102%;
  height: 102%;
  background: $color;
  opacity: 0;
  z-index: 0;
}

.item-image {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  top: 182px;
  right: 0;
  width: 80%;
  padding-right: 4%;
  line-height: 1;
  color: aliceblue;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  position: absolute;
  top: 120px;
  left: -1.8%;
  z-index: 100;
}

.item-header .vertical-part {
  margin: 0 -4px;
  // font-family: $ftroboto;
  // -webkit-font-smoothing: auto;
  // -moz-osx-font-smoothing:auto;
  // font-smoothing:auto;
  // font-size: 8vw;
  color: $resalte;
  b{
    font-size: 2.5rem;
  }
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  margin-top: -15%;
  position: relative;
  text-align: right;
  z-index: 1000;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background:#bdbdd5;
  cursor: pointer;
}

.controls ul li.active {
  background:$clAlterno;
}


@include mQ(xsS){
}
@include mQ(smallS){
  .content-width {
  // background-color: blue;
}

.slideshow {
  // background-color: fuchsia;
}

.slideshow-items {
  // background-color: tomato;
  height: 500px;
}

.item {
  // background-color: hotpink;
  // height: 100%;
  // width: 100%;
  // height: auto;
}

.item-image-container {
  // position: relative;
  // width: 95%;
}

.item-image-container::before {
  // content: '';
  // position: absolute;
  // top: -10%;
  // left: -10%;
  // width: 102%;
  // height: 102%;
  // background: $color;
  // opacity: 0;
  // z-index: 0;
}

.item-image {
  // position: relative;
  // width: 100%;
  // height: auto;
  // opacity: 0;
  // display: block;
  // /* transition: property name | duration | timing-function | delay  */
  // transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  // opacity: 1;
}

.item.active .item-image-container::before {
  // opacity: .8;
}

.item-description {
  top: 300px;
  // right: 0;
  // width: 80%;
  // padding-right: 4%;
  // line-height: 1;
  // color: aliceblue;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  top: 220px;
  left: -1.8%;
}

.item-header .vertical-part {
  margin: 0 -4px;
  // font-family: $ftroboto;
  // -webkit-font-smoothing: auto;
  // -moz-osx-font-smoothing:auto;
  // font-smoothing:auto;
  // font-size: 8vw;
  b{
    font-size: 2.5rem;
  }
}

.vertical-part {
}

.vertical-part b {
}

.item-header .vertical-part b {
}

.item-description .vertical-part b {
}

.item.active .item-header .vertical-part b {
}

.item.active .item-description .vertical-part b {
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  // margin-top: -15%;
  // position: relative;
  // text-align: right;
  // z-index: 1000;
}

.controls ul {
}

.controls ul li {
  // display: inline-block;
  // width: 10px;
  // height: 10px;
  // margin: 3px;
  // background:#bdbdd5;
  // cursor: pointer;
}

.controls ul li.active {
}
}
@include mQ(mediumS){
  .content-width {
  // background-color: orange;
}

.slideshow {
  // background-color: fuchsia;
}

.slideshow-items {
  // background-color: tomato;
  width: 85%;
  height: 400px;
}

.item {
  // background-color: hotpink;
  // height: 100%;
  // width: 100%;
  // height: auto;
}

.item-image-container {
  // position: relative;
  // width: 95%;
}

.item-image-container::before {
  // content: '';
  // position: absolute;
  // top: -10%;
  // left: -10%;
  // width: 102%;
  // height: 102%;
  // background: $color;
  // opacity: 0;
  // z-index: 0;
}

.item-image {
  // position: relative;
  // width: 100%;
  // height: auto;
  // opacity: 0;
  // display: block;
  // /* transition: property name | duration | timing-function | delay  */
  // transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  // opacity: 1;
}

.item.active .item-image-container::before {
  // opacity: .8;
}

.item-description {
  top: 320px;
  // right: 0;
  // width: 80%;
  // padding-right: 4%;
  // line-height: 1;
  // color: aliceblue;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  top: 230px;
  left: -1.8%;
}

.item-header .vertical-part {
  margin: 0 -4px;
  // font-family: $ftroboto;
  // -webkit-font-smoothing: auto;
  // -moz-osx-font-smoothing:auto;
  // font-smoothing:auto;
  // font-size: 8vw;
  b{
    font-size: 3.5rem;
  }
}

.vertical-part {
}

.vertical-part b {
}

.item-header .vertical-part b {
}

.item-description .vertical-part b {
}

.item.active .item-header .vertical-part b {
}

.item.active .item-description .vertical-part b {
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  // margin-top: -15%;
  // position: relative;
  // text-align: right;
  // z-index: 1000;
}

.controls ul {
}

.controls ul li {
  // display: inline-block;
  // width: 10px;
  // height: 10px;
  // margin: 3px;
  // background:#bdbdd5;
  // cursor: pointer;
}

.controls ul li.active {
}
}

@include mQ(wideS){
  .content-width {
  // background-color: mediumseagreen;
}

.slideshow {
  // background-color: fuchsia;
}

.slideshow-items {
  // background-color: tomato;
  width: 75%;
  height: 400px;
}

.item {
  // background-color: hotpink;
  // height: 100%;
  // width: 100%;
  // height: auto;
}

.item-image-container {
  // position: relative;
  // width: 95%;
}

.item-image-container::before {
  // content: '';
  // position: absolute;
  // top: -10%;
  // left: -10%;
  // width: 102%;
  // height: 102%;
  // background: $color;
  // opacity: 0;
  // z-index: 0;
}

.item-image {
  // position: relative;
  // width: 100%;
  // height: auto;
  // opacity: 0;
  // display: block;
  // /* transition: property name | duration | timing-function | delay  */
  // transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  // opacity: 1;
}

.item.active .item-image-container::before {
  // opacity: .8;
}

.item-description {
  top: 320px;
  right: -15rem;
  // width: 80%;
  // padding-right: 0;
  // line-height: 1;
  // color: aliceblue;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  top: 260px;
  left: -1.8%;
}

.item-header .vertical-part {
  margin: 0 -4px;
  // font-family: $ftroboto;
  // -webkit-font-smoothing: auto;
  // -moz-osx-font-smoothing:auto;
  // font-smoothing:auto;
  // font-size: 8vw;
  b{
    font-size: 4rem;
  }
}

.vertical-part {
}

.vertical-part b {
}

.item-header .vertical-part b {
}

.item-description .vertical-part b {
}

.item.active .item-header .vertical-part b {
}

.item.active .item-description .vertical-part b {
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  // margin-top: -15%;
  // position: relative;
  // text-align: right;
  // z-index: 1000;
}

.controls ul {
}

.controls ul li {
  // display: inline-block;
  // width: 10px;
  // height: 10px;
  // margin: 3px;
  // background:#bdbdd5;
  // cursor: pointer;
}

.controls ul li.active {
}
}
@include mQ(largeS){
  .content-width {
  // background-color: fuchsia;
}

.slideshow {
  // background-color: fuchsia;
}

.slideshow-items {
  // background-color: tomato;
  width: 55%;
  height: 400px;
}

.item {
  // background-color: hotpink;
  // height: 100%;
  // width: 100%;
  // height: auto;
}

.item-image-container {
  // position: relative;
  // width: 95%;
}

.item-image-container::before {
  // content: '';
  // position: absolute;
  // top: -10%;
  // left: -10%;
  // width: 102%;
  // height: 102%;
  // background: $color;
  // opacity: 0;
  // z-index: 0;
}

.item-image {
  // position: relative;
  // width: 100%;
  // height: auto;
  // opacity: 0;
  // display: block;
  // /* transition: property name | duration | timing-function | delay  */
  // transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  // opacity: 1;
}

.item.active .item-image-container::before {
  // opacity: .8;
}

.item-description {
  top: 250px;
  right: -25rem;
  width: 100%;
  // padding-right: 0;
  line-height: 1.2;
  // color: aliceblue;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  top: 150px;
  left: -1.8%;
}

.item-header .vertical-part {
  margin: 0 -4px;
  // font-family: $ftroboto;
  // -webkit-font-smoothing: auto;
  // -moz-osx-font-smoothing:auto;
  // font-smoothing:auto;
  // font-size: 8vw;
  b{
    font-size: 4rem;
  }
}

.vertical-part {
}

.vertical-part b {
}

.item-header .vertical-part b {
}

.item-description .vertical-part b {
}

.item.active .item-header .vertical-part b {
}

.item.active .item-description .vertical-part b {
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  // margin-top: -15%;
  // position: relative;
  // text-align: right;
  // z-index: 1000;
}

.controls ul {
}

.controls ul li {
  // display: inline-block;
  // width: 10px;
  // height: 10px;
  // margin: 3px;
  // background:#bdbdd5;
  // cursor: pointer;
}

.controls ul li.active {
}
}
@include mQ(xlS){
  .content-width {
  // background-color: darkblue;
  // width: 80%;
  // height: 80vh;
  // margin: 0 auto;
}

.slideshow {
  // position: relative;
  // width: 100%;
  // height: 80vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
}

.slideshow-items {
  // position: relative;
  width: 100%;
  height: 300px;
}

.item {
  // position: absolute;
  // width: 100%;
  height: auto;
}

.item-image-container {
  // position: relative;
  width: 42%;
}

.item-image-container::before {
  // content: '';
  // position: absolute;
  // top: -10%;
  // left: -10%;
  // width: 102%;
  // height: 102%;
  // background: $color;
  // opacity: 0;
  // z-index: 0;
}

.item-image {
  // position: relative;
  // width: 100%;
  // height: auto;
  // opacity: 0;
  // display: block;
  // /* transition: property name | duration | timing-function | delay  */
  // transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  // opacity: 1;
}

.item.active .item-image-container::before {
  // opacity: .8;
}

.item-description {
  // position: absolute;
  top: 182px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
  // color: rgb(221, 233, 243);
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  // position: absolute;
  top: 150px;
  left: -1.8%;
  // z-index: 100;
}

.item-header .vertical-part {
  margin: 0 -4px;
  // font-family: $ftroboto;
  // -webkit-font-smoothing: auto;
  // -moz-osx-font-smoothing:auto;
  // font-smoothing:auto;
  // font-size: 8vw;
  color: $resalte;
  b{
    font-size: 6vw;
  }
}

.vertical-part {
  // overflow: hidden;
  // display: inline-block;
}

.vertical-part b {
  // display: inline-block;
  // transform: translateY(100%);
}

.item-header .vertical-part b {
  // transition: .5s;
}

.item-description .vertical-part b {
  // transition: .21s;
}

.item.active .item-header .vertical-part b {
  // transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  // transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
//   margin-top: -15%;
//   position: relative;
//   text-align: right;
//   z-index: 1000;
// }

.controls ul {
  // list-style: none;
}

.controls ul li {
  // display: inline-block;
  // width: 10px;
  // height: 10px;
  // margin: 3px;
  // background:#bdbdd5;;
  // cursor: pointer;
}

.controls ul li.active {
  // background:$clAlterno;;
}
}
}
