main
  .proyects
    .proyects__square
    .proyects__imgs
    .proyects__content
      .proyects__content_title
        h2 Desarrollo de software (Cloud - Móvil)
      .proyects__content_text
        p En los últimos años el desarrollo móvil se ha posicionado mundialmente como una de las herramientas mas eficaces para el desarrollo y crecimiento empresarial. En promedio los usuarios hacen un uso de 5 horas diarias se su dispositivo móvil, siendo este, un centro de informacion profesional, laboral y de entretenimiento. De esta manera se cambió la dinámica comercial, siendo las aplicaciones móviles un modelo de negocio exitoso.
      .proyects__content_subtitle
        h3 ITS soluciones
      .proyects__content_text2
        p Desarrolla aplicaciones con altos estándares, apoyando el crecimeinto en servicios como domótica, e-commerce y transporte.
      .proyects__content_callAction
        .actionBtn
          a(href="#") solicitar Información
  .transport
    .transport__square
    .transport__content
      p Somos expertos en desarrollo de sistemas de información, especializados en el transporte público y privado. nuestra tecnología nos permite ofrecer el software y el hardware que le permitira a su empresa de transporte monitorizar en tiempo real audio y video de lo que sucede en el trayecto, rastreo satelital, visualización de novedades, por medio de camaras de alta resolucion, app móvil y una plataforma administrativa con toda la data suficiente para que su negocio gane en calidad y crecimiento.
    .transport__call
      .action
        p Llámanos al #[span.phone +57 3043585913] o déjanos un correo a #[span.email proyectos@itssoluciones.com]
    .transport__imgs

