section.web
  .web__title
    h2 Expertos en desarrollo WEB
  .web__intro
    p ITS Soluciones crea e implementa en su negocio herramientas que están orientadas para que su actividad se potencie por medio de una alta presencia online. Diseñamos portales web administrables, fáciles de usar y acordes con su imagen corporativa, nuestra metodología asegura entender y conocer sus necesidades para ofrecer la mejor estrategia.
  .web__proyectsImg
  .web__call
    .action
      p Llámanos al #[span.phone +57 3043585913] o déjanos un correo a #[span.email proyectos@itssoluciones.com]
