
section.hero
  .hero__logo
  .hero__text
    hero__text_title
      h2 PROGRAMANDO
    hero__text_emphasis
      h4 Innovación / Confianza / Inteligencia
    hero__text_subtitle
      h2.focus SOLUCIONES REALES
  .hero__contacto
    hero__contacto_ask
      p ¿Tiene un proyecto?
    hero__contacto_call
      a(href='#' target="blank") ¡Hablemos! #[i.icon.fa.fa-envelope]
