block config
  include ./components/config.pug

include metatags_webapp.pug
include ./components/navigation_off_canvas.pug
include ./components/card_single.pug
include ./components/info_single.pug
include ./components/info_steps.pug
//- include ./components/contacto.pug
//- include ./components/card.pug
//- include ./components/form_contact
//- include ./components/info_location
//- include ./components/rotatin_words


//- include ./components/picture_webp.pug
//- include ./components/slid.pug
//- include ./components/slid/slidImg.pug
//- include ./components/slid/slidTitle.pug
//- include ./components/slid/slidDescrip.pug
//- include ./components/slid/slidControl.pug
//- include ./components/section_services.pug

doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    +metatagsWebApp()
    block metatags
    title #{pageTitle} | #{siteTitle}
    meta(name="description" content=description)
    meta(name="application-name", content=siteTitle)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" charset="utf-8")
    script(src="./email_validation.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
    link(rel="stylesheet", href="./style.css")

  body
    section.wrapper
      +navigationOffCanvas([
        [pages[0], sites[0], ''],
        [pages[1], sites[1], ''],
        [pages[2], sites[2], ''],
        [pages[3], sites[3], '']
      ] )

      block content

      script(src="./script.js")

      script(src="/node_modules/wowjs/dist/wow.min.js")
      script new WOW().init();
      script $(".services").owlCarousel({
        | margin:20,
        | loop:true,
        | autoplay:true,
        | autoplayTimeout:2000,
        | autoplayHoverPause:true,
        | responsiveClass:true,
        | responsive:{0:{ items:1 }, 600:{ items:2 }, 1000:{ items:3 } }
        | });
