section.catalogo
  //- h1 prueba Catalogo
  .container
    .box
      .name
        h2 nombre producto
      a(href="#" class="buy") comprar ahora
      .circle
      img(src="../../images/rch-b10824.jpg", class="product")

    .box
      h2.name nombre producto
      a(href="#" class="buy") comprar ahora
      .circle
      img(src="../../images/rch-d108v24.jpg", class="product")

    .box
      h2.name nombre producto
      a(href="#" class="buy") comprar ahora
      .circle
      img(src="../../images/rch-d3124v.jpg", class="product")

    .box
      h2.name nombre producto
      a(href="#" class="buy") comprar ahora
      .circle
      img(src="../../images/rch-d4v36v.jpg", class="product")

    .box
      h2.name nombre producto
      a(href="#" class="buy") comprar ahora
      .circle
      img(src="../../images/rch-d7224.jpg", class="product")
