
//GENERALES
*{
  --bcGradient            : 90deg, rgba(255,255,255,1) 0%, rgba(223,223,186,1) 100%;
  --bgGradientDark        : 90deg, rgb(2, 2, 2) 0%, rgb(29, 29, 27,1) 100%;
  --bgGradientPrim        : -135deg, rgb(34, 58, 89) 0%, rgba(42,82,152,1) 50%, rgba(4, 114, 174,1) ;
  --bgGradientPrimAlpha        : -135deg, rgba(34, 58, 89, 0.8) 0%, rgba(42,82,152,0.8) 50%, rgba(4, 114, 174,0.8) ;
  --colorTextoGral        : #fff;
  --btnGradient           : -120deg, rgba(242,158,37,1) 0%, rgba(253,187,17,1) 60%, rgba(252,208,21,1) 100%;

}
//path
$path: './images/';

//Tamaño de fuente para el proyecto
//$fsBase:62.5%;
$fsBase:16px;

//alto general
$hBase:100vh;

//fuentes
// $ftIncosolata:'Inconsolata', monospace;
// $ftyanone:'Yanone Kaffeesatz', sans-serif;
// $ftRaleway:'Raleway', sans-serif;

// grosor
$ligth:300;
$normal:400;
$medium:500;
$bold:700;

//Familia de fuentes
$ftroboto: 'Roboto', sans-serif;
$ftOswald: 'Oswald', sans-serif;

// Variables de color
// $color     : rgb(44, 43, 43);
$color     : rgb(27, 26, 28);
$txtResalte: rgb(119, 68, 216);
$baseredes : rgb(253, 251, 253);
$primario  : rgb(34, 58, 89);
$primario2 : rgb(4, 114, 174);
$primario3 : #0472ae;
$prueba01  : rgb(20, 7, 53);
$secundario: rgb(50, 23, 135);
$resalte   : rgb(145, 175, 70);
$clAlterno : rgb(167, 193, 209);

// variables de media query
// $xsScreen:470px;
// $smallScreen : 520px;
// $mediumScreen: 750px;
// $wideScreen  : 1024px;
// $largeScreen : 1280px;
// $xlScreen: 1366px;
// $opScreen:1480px;

$xsScreen:      320px; //mobile default - pequeño (360 * 640) 23% de uso - variacion inferior (320 * 479)
$smallScreen :  480px; //landscape mobile (480 * 599)
$mediumScreen:  600px; // (600 * 769)
$wideScreen  :  760px; // tablet default (768 * 1024)
$largeScreen :  920px;
$xlScreen:      1200px; // portatil medio (1366 * 768) 12% de uso
$opScreen:      1400px; // desktop default escritorio medio (1440 * 900) 3.2%

// 360×640 (móvil pequeño): 22,64%.
// 1366×768 (ordenador portátil medio): 11,98%.
// 1920×1080 (escritorio grande): 7,35%.
// 375×667 (móvil medio): 5%.
// 1440×900 (escritorio medio): 3,17%.
// 720×1280 (móvil grande): 2,74%.
