mixin boxInfo(boxTitle, boxHeader, boxIntro)
  .boxInfo-container
    .boxTitle
      .boxTitle-title
        .boxBcg
          h3.bTitleFondo #{boxTitle}
        .prueba
          h3.bTitle #{boxTitle}
    .boxBody
      .boxBody-resalte
        p.bHeader #{boxHeader}
      .boxBody-cuerpo
        p.bText #{boxIntro}
