mixin boxInfoOp3(descripcion, titulo1, titulo2)
  section.boxInfo3
    .boxInfo3-texto
      .boxInfo3-texto-bLateralIzq
      .boxInfo3-texto-descripcion
        p #{descripcion}
      .boxInfo3-texto-bLateralDer
    .boxInfo3-empresa
      .boxInfo3-empresa-texto1
        h3.texto #{titulo1}
      .boxInfo3-empresa-texto2
        h3.texto #{titulo2}
