mixin cardSingle(info)
  each item in info
    .main__make_services--container
      .main__make_services--container-box
        .icon
          i.fa(class="fa-"+`${item[0]}`)
        .title
          h4 #{item[1]}
        .content
          p #{item[2]}
        .callBtn
          a(href="#" target="blank") #{item[3]}
