mixin form()
  .reg-form
    form
      section.datos
        .basicos
          label.lNombre Nombre
            input.inNombre(name="nombre" required)
          label.lOrganizacion Organización
            input.inOrganizacion(name="empresa")
        .contacto
          label.lMail e-mail
            input.inMail(type="email" name="email" required)
      section.mensaje
        label.lMensaje mensaje
          textarea.tArea(name="mensaje" id="mensaje" cols="50" rows="10" maxlength=200)
      .buttonContainer
        button ENVIAR
