mixin headerPoster(title1, title2, subtitle, info)
  section.header
    .headTitle
      h3.headTitle-light #{title1}
      h3.headTitle-dark #{title2}
    article.intro
      h3.introTitle #{subtitle}
      p.introText #{info}

