mixin infoSteps (info)
  each item in info
    .main__work_container--card
      span
      span
      span
      span
      .main__work_container--card-content
        .icon
          i.fa(class="fa-"+`${item[0]}`)
        .number
          h3.stepNumber #{item[1]}
        .text
          p.stepContent #{item[2]}
