mixin infoSingle(info)
  each item in info
    .main__corporate_card--items
      .main__corporate_card--items-title
        h4 #{item[0]}
      .main__corporate_card--items-content
        p #{item[1]}
