// menu lateral de redes sociales
mixin social(sociales)
  nav.social
    ul.social-list
      each item in sociales
        li.social-list__item
          a.social-list__link(href=`${item[0]}` target=`${item[2]}`) 
            i.fa(class="fa-"+`${item[1]}`)
