-imgPath='/images/'
-numeracion=1
-imagenes=["1","2","3","4"]
mixin slid()
  .content-width
        .slideshow
          <!-- Slideshow Items -->
          .slideshow-items
            .item
              +slidImg("1")
              +slidTitle(
                ["A","m","a","r","r","e","s"]
              )
              +slidDescrip(
                [("Quieres"), ("conquistar,"), ("o"), ("recuperar"), ("el"), ("amor"), ("de tu"), ("pareja"), ("o esa"), ("persona"), ("que"), ("tanto"), ("deseas,"), ("estás"), ("en el"), ("lugar"), ("correcto,"), ("aquí"), ("conseguirás"), ("los más"), ("poderosos"), ("amarres"), ("de amor")]
              )
            .item
              +slidImg("2")
              +slidTitle(
                ["R","i","t","u","a","l","e","s"]
              )
              +slidDescrip(
                [("Seciones poderosas"), ("realizadas por"), ("uno de nuestros"), ("hermanos"), ("de la"), ("comunidad"), ("segun sea la"), ("necesidad"), ("de la"), ("persona.")]
              )
            .item
              +slidImg("3")
              +slidTitle(
                ["A","l","t","a","r","e","s"]
              )
              +slidDescrip(
                [("Secciones"), ("espirituales"), ("especiales"), ("de la hermandad,"), ("dedicadas"), ("por un determinado"), ("tiempo a la"), ("petición o"), ("necesidad"), ("de la"), ("persona.")]
              )
            .item
              +slidImg("4")
              +slidTitle(
                ["L","i","m","p","i","e","z","a","s"]
              )
              +slidDescrip(
                [("Rituales"), ("especializados"), ("destinados"), ("a mejorar"), ("aspectos"), ("en la vida"), ("o quitar"), ("trabajos"), ("realizados"), ("anteriormente"), ("por otras"), ("personas.")]
              )

        +slidControl(["1", "2", "3","4"])
