//@import "typography";
// RITMO VERTICAL: Guias para el ajuste del texto predefinido para line-heigth de 24px


// html{
//   //background-image: linear-gradient(#fff 95%, #999 95%);
//   //background-size: 100% $line-height;
// }
h1{
  @include xl;
  font-family: $ftOswald;
  //font-size: $base
}
h2{
  @include t1;
  font-family: $ftOswald;
  color: $primario;
  //margin:$line-height 0 0;
}
h3{
  @include t2;
  font-family: $ftOswald;
  color:$clBaseClaro;
}
h4{
  @include t3;
  // font-size: 23px;
  font-family: $ftOswald;
  color:$clBaseClaro;
}
p{
  line-height: $line-height;
  font-family: $ftroboto;
}
a{
  font-family: $ftroboto
}
