.web{
  // background-color: indigo;
  text-align: center;
  &__title{
    // background-color: goldenrod;
    padding: 1rem 0;
  }
  &__intro{
    // background-color: forestgreen;
    padding: 1rem;
  }
  &__proyectsImg{
    background-color: salmon;
    margin: 1rem 0;
  }
  &__call{
    // background-color: sandybrown;
    @include centerFlex;
      text-align:center;
        .action{
          padding: 1rem;
          border: 2px solid $secundario;
          .phone, .email{
            color:$primario2;
            font-weight: 500;
          }
        }
  }
}

// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){

}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){

}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){

}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){

}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){

}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){

}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){

}


