extends ../includes/layout

append config
  -pageTitle= "Diseño WEB"

append config
  -pages=['Inicio', 'Servicios', 'Proyectos', 'Nosotros']
  -sites=['index.html#inicio', 'index.html#servicios', 'index.html#grupos', 'index.html#contacto']

block content
  include ../includes/desWeb.pug
