.main{
  background:orange;
  &__make{
    background:blue;
    
  }
  &__partners{
    background:red;
  }
  &__corporate{
    background:yellow;
  }
  &__work{
    background:green;
  }
  &__security{
    background:purple;
  }
  &__contactUS{
    background:pink;
  }
}
// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){
  body{
    // background-color: blue;
  }
}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){
  .main{
    // background-color: orange;
    
  }
}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){
  .main{
    // background-color: royalblue;
  }

}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){
  .main{
    // background-color: royalblue;
  }
}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){
  .main{
    // background-color: royalblue;
  }
}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){
  .main{
    // background-color: royalblue;
  }
}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){
  .main{
    // background-color: royalblue;
  }
}

