.main{
  // background:orange;
  &__make{
    // background:blue;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    &_title{
      // background-color: aqua;
      grid-column: 2 / 8;
      grid-row: 1 / 3;
    }
    &_subtitle{
      // background-color: salmon;
      grid-column: 2 / 8;
      grid-row: 3 / 4;
    }
    &_phrase{
      // background-color: darkgreen;
      grid-column: 8 / 12;
      grid-row: 1 / 4;
    }
    &_services{
      // background-color: firebrick;
      grid-column: 1 / 13;
      grid-row: 5 / 11;
    }
  }
  &__partners{
    // background:red;
    height: 50vh;
  }
  &__corporate{
    // background:yellow;
    height: 60vh;
  }
  &__work{
    // background:green;
    height: 50vh;
  }
  &__security{
    // background:purple;
    height: 50vh;
  }
  &__contactUS{
    // background:pink;
    height: 50vh;
  }
}
// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){
  body{
    // background-color: blue;
  }
}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){
  .main{
    // background-color: orange;

  }
}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){
  .main{
    // background-color: royalblue;
  }

}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){
  .main{
    // background-color: royalblue;
  }
}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){
  .main{
    // background-color: royalblue;
  }
}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){
  .main{
    // background-color: royalblue;
  }
}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){
  .main{
    // background-color: royalblue;
  }
}

