main{
  // background:purple;
  .proyects{
    // background:orange;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height:100vh;
    &__square{
      // background-color: firebrick;
      grid-column: 4 / 13;
      grid-row: 7 / 13;
    }
    &__imgs{
      // background:pink;
      grid-column: 2 / 8;
      grid-row: 3 / 12;
    }
    &__content{
      // background:violet;
      grid-column: 8 / 12;
      grid-row: 3 / 12;
    }
  }
  .transport{
    // background:blue;
    height:100vh;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    &__square{
      // background-color: red;
      grid-column: 1 / 8;
      grid-row: 9 / 13;
    }
    &__content{
      // background:red;
      grid-column: 2 / 7;
      grid-row: 2 / 9;
    }
    &__call{
      // background:green;
      grid-column: 2 / 7;
      grid-row: 9 / 12;
    }
    &__imgs{
      // background:yellow;
      grid-column: 7 / 12;
      grid-row: 2 / 12;
    }
  }
}

// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){

}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){

}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){

}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){

}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){

}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){

}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){

}

