.web{
  // background-color: indigo;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  &__title{
    // background-color: goldenrod;
    grid-column: 2 / 12;
    grid-row: 2 / 3;
  }
  &__intro{
    // background-color: forestgreen;
    grid-column: 2 / 12;
    grid-row: 3 / 4;
  }
  &__proyectsImg{
    // background-color: salmon;
    grid-column: 2 / 12;
    grid-row: 4 / 11;
  }
  &__call{
    // background-color: sandybrown;
    grid-column: 2 / 12;
    grid-row: 11 / 12;
  }
}

// ================================================================
// ======================= MEDIA QUERIES ==========================
// ================================================================
// ================================================================
// ======================= 320 => 479 ===========================
// ================================================================
@include mQ(xsS){

}
// ================================================================
// ======================= 480 => 599 ===========================
// ================================================================
@include mQ(smallS){

}
// ================================================================
// ======================= 600 => 759 ===========================
// ================================================================
@include mQ(mediumS){

}
// ================================================================
// ======================= 760 => 919 ===========================
// ================================================================
@include mQ(wideS){

}
// ================================================================
// ======================= 920 => 1199 ===========================
// ================================================================
@include mQ(largeS){

}
// ================================================================
// ======================= 1200 => 1399 ===========================
// ================================================================
@include mQ(xlS){

}
// ================================================================
// ======================= 1400 =>  ===========================
// ================================================================
@include mQ(opS){

}


